<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendendo VUE</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="root">

        <!-- Usando diretivas: v-for (nome dentro de nomes - exibe todos os nomes do array no parágrafo)-->
        <p v-for="nome in nomes">{{nome}}</p>
        <!-- Com objetos: v-for="cliente in clientes"> O cliente se chama {{cliente.nome}} e tem {{cliente.idade}}-->

    </div>

    <script>
        let root = new Vue({
            el: "#root",
            data: {
                nomes: [
                    "nome1", //podemos, também criar objetos para exibir nome e idade de clientes: clientes: [{nome: "Nome 1", idade: 0}, {nome: "Nome 2", idade: 1},{nome: "Nome 3", idade: 2}]
                    "nome2",
                    "nome3"
                ]
            }
        })
    </script>
    
</body>
</html>